/* csswizard documentation is lame, just had to get that off my chest */
/* line 3, ../sass/place-search.scss */
.grid {
  font-size: 0;
}

/* line 7, ../sass/place-search.scss */
.grid > .grid__item {
  font-size: 16px;
}

/* line 11, ../sass/place-search.scss */
body {
  margin: 0;
}

/* line 16, ../sass/place-search.scss */
div.map-elements div.our-stockists-form {
  border: 1px solid #e5e5e5;
  padding: 1em;
  margin-left: 1em;
}
/* line 21, ../sass/place-search.scss */
div.map-elements div.map-container {
  margin-right: 1em;
}

/* line 26, ../sass/place-search.scss */
#ps-content {
  display: none;
}

/* line 30, ../sass/place-search.scss */
#ps-dialog-message {
  display: none;
}

/* line 34, ../sass/place-search.scss */
#ps-map {
  height: 350px;
}

/* line 38, ../sass/place-search.scss */
#ps-data-table {
  margin: 1em;
}
/* line 41, ../sass/place-search.scss */
#ps-data-table > div {
  margin-top: 2em;
  width: 100%;
}
/* line 46, ../sass/place-search.scss */
#ps-data-table table {
  width: 100%;
}

/* line 51, ../sass/place-search.scss */
form button,
form select {
  margin-right: 1ex;
}

/* line 56, ../sass/place-search.scss */
#ps-loader {
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 100px;
}

/* line 64, ../sass/place-search.scss */
.ps-info-window-content img {
  max-width: 150px;
}
/* line 68, ../sass/place-search.scss */
.ps-info-window-content td span {
  color: #BBB;
}

/* line 73, ../sass/place-search.scss */
ul.map-heading li a {
  margin-bottom: 14px;
}
