/* csswizard documentation is lame, just had to get that off my chest */
/* line 3, ../sass/place-search.scss */
.grid {
  font-size: 0;
}

/* line 7, ../sass/place-search.scss */
.grid > .grid__item {
  font-size: 16px;
}

/* line 11, ../sass/place-search.scss */
body {
  margin: 0;
}

/* line 16, ../sass/place-search.scss */
table.google-visualization-table-table thead {
  display: none;
}
/* line 18, ../sass/place-search.scss */
table.google-visualization-table-table thead tr {
  background: none;
  color: #555;
}
/* line 23, ../sass/place-search.scss */
table.google-visualization-table-table tr td:nth-child(3) {
  white-space: nowrap;
}

/* line 29, ../sass/place-search.scss */
div.map-elements div.our-stockists-form {
  border: 1px solid #e5e5e5;
  padding: 1em;
  margin-left: 1em;
}
/* line 34, ../sass/place-search.scss */
div.map-elements div.map-container {
  margin-right: 1em;
}

/* line 39, ../sass/place-search.scss */
#ps-content {
  display: none;
}

/* line 43, ../sass/place-search.scss */
#ps-dialog-message {
  display: none;
}

/* line 47, ../sass/place-search.scss */
#ps-map {
  height: 350px;
}

/* line 51, ../sass/place-search.scss */
#ps-data-table {
  margin: 1em;
}
/* line 54, ../sass/place-search.scss */
#ps-data-table > div {
  margin-top: 2em;
  width: 100%;
}
/* line 59, ../sass/place-search.scss */
#ps-data-table table {
  width: 100%;
}

/* line 64, ../sass/place-search.scss */
form button,
form select {
  margin-right: 1ex;
}

/* line 69, ../sass/place-search.scss */
#ps-loader {
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 100px;
}

/* line 77, ../sass/place-search.scss */
.ps-info-window-content img {
  max-width: 150px;
}
/* line 81, ../sass/place-search.scss */
.ps-info-window-content a {
  text-decoration: none;
}
/* line 85, ../sass/place-search.scss */
.ps-info-window-content td span {
  color: #BBB;
}

/* line 90, ../sass/place-search.scss */
ul.map-heading li a {
  margin-bottom: 14px;
}
