html {
  width: 100%;
}

body {
  padding: 1em;
  width: 100%;
}

#cef-map,
#pef-map {
  width: 100%;
  height: 650px;
  margin-bottom: 2em;
}

form button,
form select {
  margin-right: 1ex;
}

#cef-loader,
#pef-loader {
  height: 100px;
  width: 100px;
  margin: auto;
}
