/* csswizard documentation is lame, just had to get that off my chest */

.grid {
  font-size: 0;
  & > .grid__item {
    font-size: 16px;
  }
}

table.google-visualization-table-table {
  thead {
    tr {
      background: none;
      color: #555;
    }
  }
  tr td:nth-child(3) {
    white-space: nowrap;
  }
}

div.map-elements {
  margin-left: 1em;
  margin-right: 1em;
  div.our-stockists-form {
    border: 1px solid #e5e5e5;
    padding: 20px;
  }
  div.our-stockists-form,
  #ps-map {
    height: 437px;
    margin-bottom: 1em;
    img {
      max-width: none;
    }
  }
}

#ps-content {
  display: none;
}

#ps-dialog-message {
  display: none;
}


#ps-data-table {
  margin: 1em;
  margin-top: 0;

  & > div {
    margin-top: 2em;
    width: 100%;
  }

  table {
    width: 100%;
  }
}

form button,
form select {
  margin-right: 1ex;
}

#ps-loader {
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 100px;
}

.ps-info-window-content {
  img {
    max-width: 150px;
  }

  a {
    text-decoration: none;
  }

  td span {
    color: #BBB;
  }
}

ul.map-heading li a {
  margin-bottom: 14px;
}
